section {
  padding: 3.5rem 0;
}
.container {
  gap: 40px;
  width: 90%;
  display: flex;
  height: 180px;
  margin: 0 auto;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: center;
  background-color: #f9e0ae;
}
.container input {
  padding: 12px;
  background-color: white;
}
.container button {
  width: 150px;
  padding: 12px;
  color: white;
  background-color: #C24914;
}
